{{#> layout}}
  {{#*inline "body"}}
    <p>Hi <strong>{{candidateName}}</strong>,</p>
    <hr class="divider" />
    <div style="white-space: pre-line;">{{body}}</div>
    <hr class="divider" />
    <p>
      Best regards,<br />
      <strong>{{senderName}}</strong><br />
      {{companyName}}
    </p>
  {{/inline}}
{{/layout}}
